.full-hero-banner {
  display: flex;
  flex-direction: row;
  background: #ef6f1f;
  padding: 4rem;
}

.left-side-hero-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4.5rem;
}

.grid-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 200px;
  gap: 10px;
}

.inside-buttons{
  display: flex;
  background: #ffffff;
  padding: 8px 0 8px 10px;
  border-radius: 20px;
  width: 180px;
  /* font-size: 15px; */
  gap: 10px;
  font-weight: bold;
  /* text-align: center; */
}

.inside-buttons img{
  width: 40px;
}

.inside-buttons:hover{
  background: #f3dcd0;
  font-weight: bold;
}

.left-div-heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

.search_button{
  color: #000;
  background: #fff;
  width: 600px;
  padding: 20px;
  margin-bottom:20px ;
  border-radius: 50px;
}

.input_search_bar{
  width: 480px;
  margin: 0px 10px;
}


.a-tag-buttons-cards {
  padding:10px 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.right-side-section{
  background: #eb661d;
  width: 50%;
}



.left_card{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.cards_data_flex{
  display: flex;
  flex-direction: row;
  
}